.display-stat {
    margin-left: 0.3rem !important;
}

.delete-button {
    margin-top: 1rem !important;
    background-color: #fa0000 !important;
    border-radius: 50% !important;
    color: #fafafa !important;
    padding: 0.2rem;
    opacity: 0.7;
    transition: opacity 0.3s ease-in 0.1s;    
}

.delete-button:hover {
    opacity: 1.0;
}

.change-page-button {
    background-color: #3f51b5 !important;
    border-radius: 50% !important;
    color: #fafafa !important;
    padding: 0.2rem;
    opacity: 0.7;
    transition: opacity 0.3s ease-in 0.1s;    
}
.change-page-button:hover {
    opacity: 1.0;    
}

.repo-issues {
    margin-left: -1.5rem !important;
}

.issue-text {
    width: 75% !important;
    font-size: 0.8rem !important;
}

.issue-link {
    color: #3f51b5;
}

.issue-link:hover {
    cursor: pointer;
}

.issue-author {
    font-style: italic !important;
}
.details-header {
    font-weight: bold !important;
}
